$color-background: #ffffff;
$color-loader: #101439;
$common-bg: #10182f;

.boundary-quote {
  height: 80vh;
}

.social-share-container {
  margin-top: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-quote-holder {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  margin-top: 80px;
  background-color: #f2f5fe;
  border: 1px solid #f2f5fe;
  border-radius: 10px;
  padding: 20px;
  .author-part {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.author-container {
  width: 80%;
  margin: 70px auto;
}

.author-details {
  display: flex;
  img {
    height: fit-content;
  }
}

.author-desc {
  span {
    font-family: "Merriweather Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
  p {
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    margin: 5px 0 0 0;
    font-size: 14px;
  }
}

.author-quote-list {
  display: flex;
  flex-flow: wrap row;
  div {
    margin-right: 10px;
  }
}

.carousal-item {
  background-color: #f2f5fe;
  border: 1px solid #f2f5fe;
  margin-right: 20px;
  padding: 20px;
}

.carousel-holder {
  margin: 30px 0;
  .title {
    font-family: "Merriweather Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.see-more {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #101439;
  background-color: #101439;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 30px;
}
