@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Merriweather Bold";
    src: url("../assets/fonts/Merriweather-Bold.ttf");
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.main-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
    width: 80%;
}

.quote-body {
    background-color: #F2F5FE;
    border: 1px solid #F2F5FE;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    .single-quote {
        font-family: "Merriweather", Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 24px;
        font-weight: 900;
    }
    p {
        font-family: "Merriweather", Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 0 0 10px 0;
        color: #101439;
    }
    a {
        font-family: "OpenSans", Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: #101439;
    }
}