@mixin common-page-item {
  display: inline;
  border: 1px solid #101439;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

@mixin active-item {
  background-color: #101439;
  color: #ffffff;
  font-weight: bold;
}

.pagination-container {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
  a {
    outline: none;
  }
}

.page-item {
  @include common-page-item;
  margin: 0 10px;
  &:hover {
    cursor: pointer;
    @include active-item;
  }
}

.prev-page-item {
  @include common-page-item;
  margin-right: 10px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.next-page-item {
  @include common-page-item;
  margin-left: 10px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.break-item {
  @include common-page-item;
  margin: 0 10px;
} 

.page-item-active {
  @include active-item;
}