$color-background: #ffffff;
$color-loader: #101439;
$common-bg: #10182f;

.topics-bar {
  font-family: "Merriweather Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: $common-bg;
    font-size: 15px;
    margin: 0 5px;
  }
  .selected {
    color: blue;
  }
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 60%;
  span,
  a {
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    color: #101439;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
  }
}

.error-container {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  p {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    text-transform: uppercase;
  }
  button {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $common-bg;
    color: #ffffff;
    border: 1px solid $common-bg;
    padding: 5px 20px;
    border-radius: 5px;
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
}
